{$DOMAIN} {
	reverse_proxy ff-api:3004
	encode gzip

	header {
		-Server
		X-Content-Type-Options nosniff
		X-Frame-Options DENY
	}

	log {
		output file /data/access.log {
			roll_size 10mb
			roll_keep 3
		}
	}
}

# School / static HTML (host path mounted at /srv/skole in docker-compose)
skole.fortunefrenzy.xyz, www.skole.fortunefrenzy.xyz {
	root * /srv/skole
	file_server
	encode gzip
	header {
		-Server
		X-Content-Type-Options nosniff
	}
}
